extends ../base

block content 
    form.s1n2(method="POST")
        div
            label(for="free_flowRate") 무부하 유량
            input(name="free_flowRate",placeholder="10",type="text",required,id="free_flowRate")
        div 
            label(for="pump_model") 모델
            input.uppercase(name="code",placeholder="RNS",type="text",required,id="pump_model")
        
        div 
            label(for="user") 업체명
            input(name="user",type="text",required,id="user")
        
        
        div
            label(for="motor") 모터
            input.uppercase(name="motor",type="text",placeholder="코팅/종류/rpm/전압",required,id="motor")
                
        div
            span 코팅
            div
                div
                    input(name="coating",value="P",required,type="radio",id="ptfe")
                    label(for="ptfe") PTFE (P)
                div 
                    input(name="coating",value="B",type="radio",id="anodize")
                    label(for="anodize") 블랙 아노다이징
                div 
                    input(name="coating",value="N",type="radio",id="nonCoating")
                    label(for="nonCoating") N

        div
            span 생산부서
            div
                div
                    input(name="department",value="대형",required,type="radio",id="big")
                    label(for="big") 대형
                div 
                    input(name="department",value="미니",type="radio",id="mini")
                    label(for="mini") 미니
                div 
                    input(name="department",value="다이아프램",type="radio",id="diaphragm")
                    label(for="diaphragm") 다이아프램
                div 
                    input(name="department",value="기타",type="radio",id="others")
                    label(for="others") 기타
            
        div
            span 국내 / 해외
            div 
                div
                    input(name="domestic",value="국내",required,type="radio",id="domestic")
                    label(for="domestic") 국내
                div 
                    input(name="domestic",value="해외",type="radio",id="oversea")
                    label(for="oversea") 해외

        div 
            label(for="version") 버전
            input(name="version",value="1.0.0",type="text",required,id="version")

        div
            input(type="submit",value="등록하기")
        
    if errorMessage 
        span.spanError=errorMessage
