$bg: #fafafa;
$island: #ffffff;
$border: #dbdbdb;
$blue__apple: #3080e6;
$border--gray: 2px solid $border;
$border--black: 2px solid black;
$border__radius: 10px;
$island_border_radius: 8px;
$header__height: 45px;
$start__height: 60px;
$element__gap__external: 10px;
$element__gap__internal: 2px;
$font--bold: 600;
$font--big: 1.8rem;
$font--normal: 1.6rem;

$grid__eachSize: 100px;
