$bg: #fafafa;
$island: #ffffff;
$border: #dbdbdb;
$gray: #474a4f;
$lightgray: #525861;
$border--gray: 2px solid $border;
$border--black: 2px solid black;
$border__radius: 10px;
$island_border_radius: 8px;
$header__height: 45px;
$start__height: 60px;
$element__gap__external: 10px;
$element__gap__internal: 2px;
$font--bold: 600;
$font--big: 1.8rem;
$font--normal: 1.6rem;

$grid__eachSize: 100px;

$blue__apple: #4e9bff;
//$blue__apple: #3080e6;
$blue__gnm: #032183;
$red: #d60001;
$red__icon: #9f0001;
$green: #4faf4b;
$green__icon: #3b823b;
$yellow__crown: #ffbb48;
