.planExtra__container {
  margin-top: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 60px;
  width: 90%;

  padding: 10px;

  border: $border--gray;
  border-radius: $border__radius;
  box-sizing: border-box;

  font-size: 1.6rem;

  > * {
    display: flex;
    align-items: center;
  }
}

.planExtra__container__img {
  height: 40px;
  width: auto;

  img {
    border-radius: $border__radius;
    height: 100%;
  }
}
