.pumpMixin__container {
  font-size: 1.6rem;
  border: $border--black;
  border-radius: $border__radius;
  width: 300px;
  padding: 0.8rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.6rem 0px;
}
.pumpMixin__container__user {
  font-size: 1.3rem;
}
