.n1s2 {
  //ex.ul
  font-size: $font--normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px 0px;

  > * {
    //ex.ul li
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $element__gap__external;

    > * {
      //ex.ul li 1st div
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: $element__gap__internal 0;
    }
    > *:nth-child(2) {
      //ex.ul li 2nd div STRONG
      font-size: $font--big;
      font-weight: $font--bold;
    }
  }
  .n1s2--row {
    display: flex;
    flex-direction: row;
    > * {
      margin: 0 $element__gap__external;
      > * {
        font-size: 1.6rem;
        font-weight: 400;
        margin: $element__gap__internal 0;
      }
      > *:nth-child(2) {
        font-size: $font--big;
        font-weight: $font--bold;
      }
    }
  }
}
