header {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5rem 0px;
  border-bottom: $border--gray;
  background-color: $island;
  margin-bottom: 10px;
}

.header--small {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 5px 0px;
  border-bottom: $border--gray;
  background-color: $island;
  margin-bottom: 10px;
}
