extends ./base

block content 
    form.s1n2(method="post")
        div 
            div 진행하시겠습니까?
            if (code=="outbound")
                div 1. 출고 취소를 원할시
                div 2. 실제출고일과 다를 경우 
                div 출고계획 수정하세요
                
            else if (code=="delete")
                div 절대 되돌리지 못합니다
        div 
            label(for="check") 비밀번호를 입력하세요
            input(name="check", id="check", required, type="password")
        if (errorMessage)
            div 
                .spanError 비밀번호를 확인하세요


        input(type="submit",value="실행하기")