extends base


block content 
    div.n1s2 
        a(href="/users/")
            span 우리회사 사람 &rarr;
        a(href="/pumps/band")
            span [TEST]BAND에서 pump정보 가져오기 &rarr;
        a(href="/dailyReport")
            span 일일 작업일지 보기 &rarr;