extends base
include mixins/planMixin

block content 
    .home 
        .home__main.banner &rarr; 생산예정 모델 (출고 불가능)
    
        .home__list
            each plan in plans_k
                +plan(plan)
            else 
                p 아무 일정이 없습니다 ㅠ ㅅ ㅠ