extends base
include mixins/planMixin

block content 
    .home 
        .home__list
            each plan in plans_k
                +plan(plan)
            else 
                p.no__info ❌ 아무 일정이 없습니다 ❌