extends base
include mixins/pumpMixin

block content 
    form.s1n2.manage__form(method="GET")
        div.manage__form__searchBar
            input.uppercase(type="text",name="keyword",placeholder="펌프 모델명을 입력하세요")
            input(type="submit",value="검색")
        hr
        div
            label(for="user") 업체명
            input(name="user",type="text",id="user")
        div
            label(for="motor") 모터종류
            input.uppercase(name="motor",type="text",id="motor")
        div.invisible
            label(for="department") 제작부서
            input.uppercase(name="department",type="text",id="department")
        
        

        .manage__form__department
            p(style="display:none;")
            div.manage__form__department__big
                span 대형
            div.manage__form__department__mini
                span 미니
            div.manage__form__department__diaphragm
                span 다이아프램
            div.manage__form__department__others
                span 기타
    hr
    div.manage__list
        if(search)
            .manage__list__register 
                span 원하는 펌프가 없습니까? 
                a(href="pumps/register").button--small 펌프 등록하기 &rarr;
            each pump in pumps 
                +pump(pump) 

        else
            each pump in pumps 
                +pump(pump)
            else 
                .manage__list__register 
                    p 등록된 펌프가 없습니다
                    a(href="pumps/register").button--small 펌프 등록하기 &rarr;

    script(src="/static/dynamics/js/manage.js")