extends base
include mixins/pumpMixin

block content 
    form.s1n2(method="GET")
        div.manage__searchBar
            input.uppercase(type="text",name="keyword",placeholder="펌프 모델명을 입력하세요")
            input(type="submit",value="검색")
        hr
        div
            label(for="user") 업체명
            input(name="user",type="text",id="user")
        div
            label(for="motor") 모터종류
            input.uppercase(name="motor",type="text",id="motor")

        
    hr
    hr
    div.manage__list
        if(search)
            .manage__list__container 
                .manage__list__container__new 
                    span 원하는 펌프가 없습니까? 
                    a(href="pumps/register").button--big 펌프 등록하기 &rarr;
                each pump in pumps 
                    +pump(pump) 

        else
            each pump in pumps 
                +pump(pump)
            else 
                p 등록된 펌프가 없습니다
                a(href="pumps/register").button--big 펌프 등록하기 &rarr;
