extends ../base
include ../mixins/userMixin

block content
    a(href="/users/create") 
        div.button--big 새 직원 추가하기&rarr;

    div.userList__user
        each user in users 
            +user(user)
        else 
            p no user