header 
    nav 
        div
            a.header__logo(href="/")
                img(src="../static/imgElement/g&m logo.png")
                span IMS 
        
        div.header__menu
            a.header__menu__plan(href="/")
                .header__memu__plan__box 
                    i.fas.fa-clipboard-list
            a.header__menu__done(href="/done")
                .header__memu__done__box 
                    i.fas.fa-clipboard-check  
            a.header__menu__manage(href="/manage")
                .header__memu__manage__box 
                    i.fas.fa-edit
            a.header__menu__user(href="#")
                .header__memu__user__box 
                    i.fas.fa-user     

        div.header__user 