nav 

    a.header__logo(href="/")
        img(src="/static/statics/gnmLogo.png") 
    
    div.header__menu
        a.header__menu__plan(href="/")
            i.fas.fa-clipboard-list
        a.header__menu__done(href="/done")
            i.fas.fa-boxes
        a.header__menu__outbound(href="/outbound")
            i.fas.fa-plane-departure 
        a.header__menu__manage(href="/manage")
            i.fas.fa-edit
        a.header__menu__etc(href="/etc")
            i.fas.fa-bars     
    
    div.header__user 
        a(href=`/users/${loggedInUser._id}`)
            if (loggedInUser.avatar==null)
                img(src="/static/statics/defaultProfile.jpeg",width="30px")
            else
                img(src=`/${loggedInUser.avatar}`)